* {
    font-family: "Montserrat", sans-serif;
}
/* INICIO ESTILIZAÇÃO NAVBAR */
.navbar {
    padding: 0;
}

.menu__container {
    flex-grow: 0.5;
}

.menu ul{
     justify-content: center;
 
}

.link-nav {
    color: #FFFFFF;
    font-weight: 400;
}

.link-nav:hover {
    color: #FFFFFF;
    text-decoration: underline;
    transition: 0.4s;
    opacity: 0.8;
}

.container-fluid {
    background-color: #232541;
    /* padding: 1.5rem; */
    padding: 20px 40px;
}

.logo h1 {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 1.25rem;
    letter-spacing: 3px;
    font-weight: 700;
}

.login img {
  height: 25px;
  width: auto;
  position: relative;
  padding-inline: 5px;
}

.login a {
    margin-left: 7px;
    text-decoration: none;
    color: #FFFFFF;
  }

  .login:hover {
    color: #FFFFFF;
    text-decoration: underline;
    transition: 0.4s;
    opacity: 0.8;
  }
/* FIM ESTILIZAÇÃO NAVBAR */



/* INICIO CONTEUDO PRINCIPAL */
main {
    background-color: #F2D055;
    /* width: 100%; */
    padding: 40px;
}

.principal {
    display: flex;
    /* display: grid;
    grid-template-columns: 50% 50%; */
    align-items: center;
}

.titulo {
    padding: 60px;
}

.titulo__principal {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

/* .botao:hover {
    background-color: #E36433;
    border-color: #E36433;
    transition: 0.4s;
    opacity: 0.8;
} */

.form {
    width: 50%;
   margin-left: 200px;
}

span {
    font-weight: 900;
}

.imagem__principal img {
    /* background-image: url(../images/banner/imagem\ avião.png); */
    background-repeat: no-repeat;
}

.input-wrapper {
    position: relative;
    display: inline-block;

  }

#meu-input {
    /* padding-right: 100px;
    border-radius: 100px;
    height: 73px;
    width: 534px;
    border-color: #ffffff;
    outline: none; */

    padding-right: 100px;
    border-radius: 100px;
    height: 80px;
    width: 600px;
    border-color: #ffffff;
    outline: none;
    font-size: 22px;
    padding-left: 50px;
  }

  #meu-botao {
    background-color: #E36433;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    font-weight: 400;
    position: absolute;
    top: 10px;
    right: -160px;
    border-radius: 100px;
    height: 60px;
    width: 220px;
    border-color: #E36433;
    transition: background-color 0.3s ease;

  }

  #meu-botao:hover {
    background-color: #E36433;
    border-color: #E36433;
    transition: 0.4s;
    opacity: 0.8;
  }

/* FIM CONTEÚDO PRINCIPAL */

/* ÍNICIO ESTILIZAÇÃO FOOTER */

footer {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background-color: #232541;
  color: #ffffff;
}

.container {
  padding: 1rem;
  color: #ffffff;
}

.text-reset {
    text-decoration: none;
}

.titulo__footer {
    letter-spacing: 2px;
}

.icones__midias__sociais i {
    font-size: 21.5px;
    margin-top: 10px;
}

.icones__midias__sociais i:hover {
    transition: 0.4s;
    opacity: 0.8;
}

.lista:hover {
    text-decoration: underline;
    transition: 0.4s;
    opacity: 0.8;
}

.teste-caixa {
    display: flex;
    justify-content: center;
}

/* FIM ESTILIZAÇÃO FOOTER */

@media screen and (max-width:999px) {
    main {
        width: 100%;
    }

   .principal {
    display: flex;
    width: 100%;
    flex-direction: column;
   }

   .imagem__principal img {
    margin-right: 200px;
   }
}

/* TESTE */


@media screen and (max-width: 1200px) {

    .imagem__principal img{
     margin-right: 200px;
     } 
     .titulo__principal{
         font-size: 40px;
         margin-left: 200px;
        }
 }


@media screen and (max-width: 870px) {
 .input-wrapper input{
     margin-right: 200px;
    }
    #meu-botao{
     margin-right: 90px;

    } 

 .imagem__principal img{
     margin-right: 30px;
 }
}  

@media screen and (max-width: 480px) {
.titulo__principal{
 font-size: 28px;
 margin-right: 200px;
}

.input-wrapper input{
 margin-right: 200px;
}

#meu-input {
 width: 400px;
 font-size: 16px;
}
#meu-botao{
margin-right: 180px;
width: 100px;
font-size: 12px;
} 
.imagem__principal img {
 width: 500px; 
 
}} 

